body{
    font-size: 10px;
}

h3 {
    font-size: 12px;
    background-color: #bbbbbb;
}

.left{
    /*margin-top: 50px;*/
    width: 60%;
    float: left;
    margin-right: -100px;
    padding-right: 100px;
    box-sizing: border-box;
}
.right{
    /*margin-top: 50px;*/
    position: fixed;
    right:0;
    width: 40%;
}

.texture::before{
    content: '****'; 
}