body{
    font-size: 10px;
}
h3 {
    font-size: 12px;
    background-color: #bbbbbb;
}

.left{
    width: 50%;
    float: left;
    margin-right: -100px;
    padding-right: 100px;
    box-sizing: border-box;
}
.right{
    position: fixed;
    right:0;
    width: 50%;
}

.texture::before{
    content: '****'; 
}